@import "tailwindcss";
@import 'react-quill/dist/quill.snow.css';
@plugin "daisyui" {
  themes: light --default;
}

/* @plugin "daisyui/theme" {
    name: "animoaprendo";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(53% 0.157 131.589);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(50% 0.118 165.612);
    --color-secondary-content: oklch(98% 0.003 247.858);
    --color-accent: oklch(84% 0.238 128.85);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
} */

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
}

.str-chat__channel-list {
    width: 30%;
}

.str-chat__channel {
    width: 100%;
}

.str-chat__thread {
    width: 45%;
}

hr {
    color: rgba(0, 80, 0, 0.1);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.mask-star-2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.mask-star-2 {
  display: inline-block;
  position: relative;
  font-size: 2rem; /* adjust size */
  color: #d1d5db; /* gray-300 for the unfilled part */
}

.mask-star-2::before {
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #16a34a; /* green-700 for filled part */
}

.mask-star-2.mask-quarter::before {
  width: 25%;
}

.mask-star-2.mask-half::before {
  width: 50%;
}

.mask-star-2.mask-three-quarters::before {
  width: 75%;
}

.mask-star-2.mask-full::before {
  width: 100%;
}
